<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hourly weather report</title>
    </head>
    <body bgcolor="black" style="font-family:'Times New Roman',serif">
        <h1 align="center" style="color:White">Hourly weather report in {{ place }} </h1>
        <h2 align="center" style="color:White">Current time: {{ currentTime }} (GMT+3)</h2>
        
        <table style="width:550px; background-color: white; border: 2px solid black" align="center" >
            <tr style="font-size:30px; background-color: #2ca02c;" align="left">
                <th>Time</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th></th>
            </tr>
            {% for report in hourlyReportYesterday %}
                <tr style="background-color: lightgrey;">
                    <td>{{ report.getTime }}</td>
                    <td>{{ report.getTempC }} °C</td>
                    <td>{{ report.getHumidity }} %rh</td>
                    <td><img src="{{ report.getIcon }}"></td>
                </tr>
            {% endfor %}
            {% for report in hourlyReport %}
            <tr{% if report.isCurrentHour %} style="background-color: aqua" style="font-weight:bold" {% endif %} style="background-color: lightgrey;">
                <td>{{ report.getTime }}</td>
                <td>{{ report.getTempC }} °C</td>
                <td>{{ report.getHumidity }} %rh</td>
                <td style="width:7%"><img src="{{ report.getIcon }}" alt="Trulli"></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
